<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Movie</title>
</head>
<body>
    <h1>Add Movie</h1>
    <form action="/movie" method="POST">
        <label for="movieName">Movie: </label>
        <input type="text" name="m_name" id="m_name">
        <label for="movieYear">Year: </label>
        <input type="text" name="m_year" id="m_year">
        <button type="submit" formaction="/movie">Submit</button>
    </form>
</body>
</html>