<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review Movie</title>
</head>
<body>
    <h1>Review Movie</h1>
    <form action="" method="post">
        <label for="movieName">Choose a Movie:</label>
        <select id="movieSelected" name="movieSelected">
            <option value="mov1">mov1</option>
            <option value="mov2">mov2</option>
            <option value="mov3">mov3</option>
            <option value="mov4">mov4</option>
        </select>
        <label for="movieReview">Review</label>
        <textarea name="movieReview" id="movieReview" cols="30" rows="10"></textarea>
        <button type="submit" formaction="reviewSuccess.html">Submit</button>
    </form>
</body>
</html>